## fichier de configuration pour le script hdbsql_wrapper.sh
## lu par le script pour modifier des variables globales.


##log du script.
DIR_LOG_WRAPPER="/Backup/trace"
LOG_RETENTION="28"
LOGGER_TAG="Hana-Backup"

##stockage backup 
## TEMPLATE_BACKUP_PATH modèle de chemin de backup
## MOUNT_BACKUP  remplace <MOUNT> dans le template 
## LEVEL_BACKUP_* remplace <LEVEL> dans le template
## <SID> est remplacé par le SID de l'instance (déterminé en via l'arguments -i ) 

## template pour le chemin du backup, voir PURGE_START_POINT_TEMPLATE
TEMPLATE_BACKUP_PATH='<MOUNT>/<SID>/data/<SUBPATH>/<LEVEL>'

#MOUNT_BACKUP="/Backup"
#LEVEL_BACKUP_INCR='incr'
#LEVEL_BACKUP_FULL='full'
#LEVEL_BACKUP_DIFF='diff'
#SUBPATH_BACKUP_T="TENANT"
#SUBPATH_BACKUP_S="SYSTEMDB"

## longueur en jours du résumé affiché à l'écran
SUMMARY_LENGTH=9

## activer la purge systematique post backup réussi (Never/Always/Success)
#BACKUPS_WITH_PURGE='Success'

## age max en jour des purges de logs (commun tenant/system db)
#FILE_LOG_BACKUP_MAXAGE=2
## pattern pour le basename du backup catalogue (pour durcir) désactivé par défaut
FILE_LOG_BACKUP_PATTERN='log_backup_[1-9]*'

## age max en jour des purges de catalogue (commun tenant/system db)
#FILE_CATALOG_BACKUP_MAXAGE=14
## pattern pour le basename du backup catalogue (pour durcir) désactivé par défaut 
#FILE_CATALOG_BACKUP_PATTERN='log_backup_0*' 

## age max en jour des purges des datas (commun tenant/system db)
#FILE_DATA_BACKUP_FULL_MAXAGE=7
## age max en jour des purges des datas (commun tenant/system db)
#FILE_DATA_BACKUP_INCR_MAXAGE=7
## age max en jour des purges des datas (commun tenant/system db)
#FILE_DATA_BACKUP_DIFF_MAXAGE=7


##environnement hana 
## TEMPLATE_HANA_ENV chemin type du script hdbenv 
## BACKUP_OPERATOR_*  alias pour identifier des entrées dans le "hdbuserstore" pour les tenants et les systemes
#TEMPLATE_HANA_ENV='/hana/shared/<SID>/HDB*/'
#SCRIPT_HANA_ENV="hdbenv.sh"

BASE='systemdb'
BASE_BACKUP_OPERATOR[$BASE]='BACKUPS'
BASE_DO_ACTION[$BASE]=1
BASE_BACKUP_SUBPATH[$BASE]='SYSTEMDB'
BASE_BACKUP_POLICY[$BASE]='only full'
BASE_BACKUP_WITH_PURGE[$BASE]='always'
BASE='tenant'
BASE_BACKUP_OPERATOR[$BASE]='BACKUPT'
BASE_DO_ACTION[$BASE]=1
BASE_BACKUP_SUBPATH[$BASE]='TENANT'
BASE_BACKUP_POLICY[$BASE]='standard'
BASE_BACKUP_WITH_PURGE[$BASE]='success'
BASE='xsa'
BASE_BACKUP_OPERATOR[$BASE]='BACKUPX'
BASE_DO_ACTION[$BASE]=1
BASE_BACKUP_SUBPATH[$BASE]='XSA'
BASE_BACKUP_POLICY[$BASE]='if full'
BASE_BACKUP_WITH_PURGE[$BASE]='success'


